.app {
    color: var(--color-font-color);
    background: var(--color-background);
    height: 100%;
    width: 100%;
    font-weight: var(--font-weight);
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-rows: 50px calc(100% - 50px);
    grid-template-areas:
        "mainMenuBar mainMenuBar"
        "leftPanel rightPanel"
}

.left_panel {
    grid-area: leftPanel;
    height: 100%;
    background: green;
    border-right: solid 1px grey;
}

.right_panel {
    grid-area: rightPanel;
    height: 100%;
}

.main_menubar {
    grid-area: mainMenuBar;
    height: 100%;
    background: var(--color-main-menu);
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-right: 1px solid var(--color-main-menu-border);
}
